openapi: 3.1.0
info:
  title: Lemmy REST Account Private Messages API
  description: The Lemmy REST API provides programmatic access to all core platform features of Lemmy, a free, open-source, self-hostable federated link aggregator and discussion platform. Developers can create and manage posts, comments, communities, and user accounts; vote on content; follow communities; search across the federated network; moderate communities; send private messages; and administer instances. Authentication uses JWT bearer tokens obtained via the login endpoint. The API is versioned at /api/v4/ and available on any public Lemmy instance.
  version: 4.0.0
  license:
    name: AGPL-3.0
    url: https://github.com/LemmyNet/lemmy/blob/main/LICENSE
  contact:
    url: https://join-lemmy.org/docs/
servers:
- url: https://lemmy.world/api/v4
  description: Lemmy.world (largest public instance)
- url: https://{instance}/api/v4
  description: Any Lemmy instance
  variables:
    instance:
      default: lemmy.world
      description: The hostname of a Lemmy instance
security:
- bearerAuth: []
tags:
- name: Private Messages
  description: Direct messaging between users
paths:
  /private_message:
    post:
      operationId: createPrivateMessage
      summary: Send a private message
      description: Send a direct private message to another user.
      tags:
      - Private Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - content
              - recipient_id
              properties:
                content:
                  type: string
                recipient_id:
                  $ref: '#/components/schemas/PersonId'
      responses:
        '200':
          description: Private message sent
    put:
      operationId: editPrivateMessage
      summary: Edit a private message
      description: Update the content of a private message. Requires message author.
      tags:
      - Private Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - private_message_id
              - content
              properties:
                private_message_id:
                  type: integer
                content:
                  type: string
      responses:
        '200':
          description: Private message updated
    delete:
      operationId: deletePrivateMessage
      summary: Delete a private message
      description: Delete a private message. Requires message author.
      tags:
      - Private Messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - private_message_id
              - deleted
              properties:
                private_message_id:
                  type: integer
                deleted:
                  type: boolean
      responses:
        '200':
          description: Private message deleted/restored
components:
  schemas:
    PersonId:
      type: integer
      description: Unique identifier for a person/user
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lemmy Documentation
  url: https://join-lemmy.org/docs/
