openapi: 3.2.0
info:
  title: Lemmy REST Images API
  description: The Lemmy REST API provides programmatic access to all core platform features of Lemmy, a free, open-source, self-hostable federated link aggregator and discussion platform.
  version: 4.0.0
  license:
    name: AGPL-3.0
    url: https://github.com/LemmyNet/lemmy/blob/main/LICENSE
  contact:
    url: https://join-lemmy.org/docs/
servers:
- url: https://lemmy.world/api/v4
  description: Lemmy.world (largest public instance)
- url: https://{instance}/api/v4
  description: Any Lemmy instance
  variables:
    instance:
      default: lemmy.world
      description: The hostname of a Lemmy instance
security:
- bearerAuth: []
tags:
- name: Images
  description: Image upload and retrieval
paths:
  /image:
    post:
      operationId: uploadImage
      summary: Upload an image
      description: Upload an image file to the instance's image storage.
      tags:
      - Images
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - images[]
              properties:
                images[]:
                  type: string
                  format: binary
      responses:
        '200':
          description: Image uploaded
  /image/{filename}:
    get:
      operationId: getImage
      summary: Get an image
      description: Retrieve an uploaded image by filename.
      tags:
      - Images
      security: []
      parameters:
      - name: filename
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Image file
  /image/proxy:
    get:
      operationId: imageProxy
      summary: Proxy an external image
      description: Proxy and optionally cache an external image through this instance.
      tags:
      - Images
      security: []
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: Proxied image
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Lemmy Documentation
  url: https://join-lemmy.org/docs/
